#monsterModal-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;  
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.575);
}

div.monsterModal-panel{
    width: 750px;
    height: 350px;
    overflow-y: scroll;

    z-index: 1;
    position: absolute;

    border: 2px solid rgb(39, 48, 60);
    box-sizing: border-box;

    background-color: rgb(243, 243, 243);    
}

div.monsterModal-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

div.monsterModal-content > p{
    margin-top: 15px;
}